<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mobooks">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Books.NovelsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Books.HistoryActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Books.TechnologyActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".InfoActivity"
            android:theme="@style/Theme.MaterialComponents.DayNight.Dialog.Alert" />
        <activity
            android:name=".Books.LeadershipActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Books.BiographyActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".BookInsertActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".OnlinePdfViewerActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Books.BusinessActivity"
            android:label="@string/title_activity_business"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LocalPdfViewerActivity"
            android:label="@string/title_activity_pdf_viewer"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HomeActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>